<h1>{{ 'app.title' | i18n }}</h1>

<h2>{{ myDialogData() }}</h2>

<button mat-button (click)="openMyDialog()">Open My Dialog</button>

<button mat-button (click)="onLogout()">Log Out</button>

<button mat-button (click)="onExport()">Export</button>

<app-loading-indicator></app-loading-indicator>

<app-tab-group>
  @for(tab of tabs; track tab.id) {
    <app-tab [id]="tab.id">
      <ng-template #appTabLabel>
        <div>{{ tab.label }}</div>
      </ng-template>
 
      <ng-template #appTabContent>
        <div>{{ tab.content }}</div>
        <!-- <ng-container *ngComponentOutlet="tab.content"></ng-container> -->
      </ng-template>
    </app-tab>
  }
</app-tab-group>

<table>
  <tr>
    <th>
      <div
        tabindex="0"
        class="header-cell" 
        appResizableHeader
        appSortableHeader
        sortColumnName="company"
        defaultSortDirection="asc"
        [sortDirection]="sortColumnMap['company']"
        (sortChange)="onSortChange($event)"
      >
        <span class="text-content">
          Company aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </span>
      </div>
    </th>

    <th>
      <div
        tabindex="0"
        class="header-cell" 
        appResizableHeader
        appSortableHeader
        sortColumnName="contact"
        [sortDirection]="sortColumnMap['contact']"
        (sortChange)="onSortChange($event)"
      >
        <span class="text-content">
          Contact
        </span>
      </div>
    </th>
    
    <th>
      <div
        tabindex="0"
        class="header-cell" 
        appResizableHeader
        appSortableHeader
        sortColumnName="country"
        [sortDirection]="sortColumnMap['country']"
        (sortChange)="onSortChange($event)"
      >
        <span class="text-content">
          Country
        </span>
      </div>
    </th>
  </tr>

  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>

  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

<br/>
<app-paginator [length]="100" (pageChange)="onPageChange($event)"></app-paginator>

<app-expansion-panel>
  <ng-template #appExpansionPanelTitle>
    <div>Expansion Panel Title</div>
  </ng-template>

  <ng-template #appExpansionPanelContent>
    <div>Expansion Panel Content</div>
  </ng-template>
</app-expansion-panel>

@if(exportProgress > 0) {
  <div>Export progress: {{ exportProgress }}%</div>
}

@if(exportMessage) {
  <div>{{ exportMessage }}</div>
}